In [ ]:
LEFT & RIGHT Quizzes
In the accounts table, there is a column holding the website for each company. The last three digits specify what type of web address they are using. A list of extensions (and pricing) is provided here. Pull these extensions and provide how many of each website type exist in the accounts table.


There is much debate about how much the name (or even the first letter of a company name) matters. Use the accounts table to pull the first letter of each company name to see the distribution of company names that begin with each letter (or number).


Use the accounts table and a CASE statement to create two groups: one group of company names that start with a number and a second group of those company names that start with a letter. What proportion of company names start with a letter?


Consider vowels as a, e, i, o, and u. What proportion of company names start with a vowel, and what percent start with anything else?

## String functions:

* trim, ltrim, rtrim

* replace

* lpad, rpad

* lower, upper

* substr, left, right

* strpos, position

* length

* concat, ||

## Date functions:

* date_trunc

* date_part, extract

## Number:
* floor()
* ceil()
* round()
* power()

## Type Conversion:

* cast, ::

* to_date, to_number

* to_string

* coalesce, nullif, nvl

## Aggregate Functions
* count(col1)
* sum(col1)
* avg(col1)
* min(col1)
* max(col1)
### Usage:
```
select col0, agg(col1)
from t1
group by col0
having agg(col1) condition
```
## Window Functions
* row_number()
* rank()
* dense_rank()
* ntile(n)

### Usage:
```select window_func() over (partition by col1 order by col2) alias_name```

```
window window_name as (partition by col1 order by col2)
select window_func() over window_name alias_name
```

## Subquery:
```
with t1 as (
    select statement
),
t2 as (
    select statement
    from t1
)
select cols...
from t2, t1
```

## Join:

```
select t1.c1, t2.c1, t3.c3
from tab1 t1
    join tab2 t2 on t2.FK = t1.PK
    join tab3 t3 on t3.FK = t2.PK
```

In [ ]:
Mycode: 1

select right(website, 3), count(*)
from accounts a
group by 1;

Mycode 2:

select left(website, 1), count(*)
from accounts a
group by 1

Mycode 3:
with sub as (
  select distinct left(website, 1) extn, count(*) freq
  from accounts a
  group by 1)
  
select case 
	when extn in ('c') then 'Alphabet'
    else 'number'
    end extn_type,
    extn, freq
from sub;

Mycode 4:
with sub as (
  select left(lower(website), 1) extn
  from accounts a),
sub2 as (select 
    case
        when extn in ('a','e','i','o','u') then 1 
        else 0
    end vowel_count 
from sub)
select sum(vowel_count)
from sub2;

In [ ]:
LEFT & RIGHT Solutions
SELECT RIGHT(website, 3) AS domain, COUNT(*) num_companies
FROM accounts
GROUP BY 1
ORDER BY 2 DESC;
SELECT LEFT(UPPER(name), 1) AS first_letter, COUNT(*) num_companies
FROM accounts
GROUP BY 1
ORDER BY 2 DESC;

There are 350 company names that start with a letter and 1 that starts with a number. This gives a ratio of 350/351 that are company names that start with a letter or 99.7%.
SELECT SUM(num) nums, SUM(letter) letters
FROM (SELECT name, CASE WHEN LEFT(UPPER(name), 1) IN ('0','1','2','3','4','5','6','7','8','9') 
                       THEN 1 ELSE 0 END AS num, 
         CASE WHEN LEFT(UPPER(name), 1) IN ('0','1','2','3','4','5','6','7','8','9') 
                       THEN 0 ELSE 1 END AS letter
      FROM accounts) t1;

There are 80 company names that start with a vowel and 271 that start with other characters. Therefore 80/351 are vowels or 22.8%. Therefore, 77.2% of company names do not start with vowels.
SELECT SUM(vowels) vowels, SUM(other) other
FROM (SELECT name, CASE WHEN LEFT(UPPER(name), 1) IN ('A','E','I','O','U') 
                        THEN 1 ELSE 0 END AS vowels, 
          CASE WHEN LEFT(UPPER(name), 1) IN ('A','E','I','O','U') 
                       THEN 0 ELSE 1 END AS other
         FROM accounts) t1;

In [ ]:
You will need to use what you have learned about LEFT & RIGHT, as well as what you know about POSITION or STRPOS to do the following quizzes.
SELECT primary_poc, 
LEFT(primary_poc, STRPOS(primary_poc, ' ')) l, 
right(primary_poc, length(primary_poc)-STRPOS(primary_poc, ' ')) r
FROM accounts;

Use the accounts table to create first and last name columns that hold the first and last names for the primary_poc.
SELECT name s,
    left(name, strpos(name, ' ')) f,
    right(name, length(name)-strpos(name, ' ')) l
from sales_reps

Now see if you can do the same thing for every rep name in the sales_reps table. Again provide first and last name columns.

In [ ]:
In this lesson, you learned about:

POSITION
STRPOS
LOWER
UPPER
SUBSTR

POSITION takes a character and a column, and provides the index where that character is for each row. The index of the first position is 1 in SQL. 
If you come from another programming language, many begin indexing at 0. 
Here, you saw that you can pull the index of a comma as
 POSITION(',' IN city_state).


STRPOS provides the same result as POSITION, 
but the syntax for achieving those results is a bit different as shown here:
 STRPOS(city_state, ',').


Note, both POSITION and STRPOS are case sensitive, so looking for A is different than looking for a.


Therefore, if you want to pull an index regardless of the case of a letter, you might want to use LOWER or UPPER to make all of the characters lower or uppercase.

In [ ]:
Each company in the accounts table wants to create an email address for each primary_poc. The email address should be the first name of the primary_poc . last name primary_poc @ company name .com.


You may have noticed that in the previous solution some of the company names include spaces, which will certainly not work in an email address. See if you can create an email address that will work by removing all of the spaces in the account name, but otherwise your solution should be just as in question 1. Some helpful documentation is here.


select primary_poc,
lower(left(primary_poc, strpos(primary_poc, ' ')) 
||'.'||
right(primary_poc, length(primary_poc)-strpos(primary_poc, ' ')) 
|| '@' || 
replace(name, ' ', '') ||
'.com')
from accounts;

We would also like to create an initial password, which they will change after their first log in. The first password will be the first letter of the primary_poc's first name (lowercase), then the last letter of their first name (lowercase), the first letter of their last name (lowercase), the last letter of their last name (lowercase), the number of letters in their first name, the number of letters in their last name, and then the name of the company they are working with, all capitalized with no spaces.

In [ ]:
select primary_poc,
lower(left(primary_poc, 1)) ||
right(trim(left(primary_poc, strpos(primary_poc, ' '))),1)
||left(lower(right(primary_poc, length(primary_poc)-strpos(primary_poc, ' '))), 1)
|| right(lower(right(primary_poc, length(primary_poc)-strpos(primary_poc, ' '))), 1)
from accounts;

In [ ]:
CONCAT Solutions
WITH t1 AS (
 SELECT LEFT(primary_poc,     STRPOS(primary_poc, ' ') -1 ) first_name,  RIGHT(primary_poc, LENGTH(primary_poc) - STRPOS(primary_poc, ' ')) last_name, name
 FROM accounts)
SELECT first_name, last_name, CONCAT(first_name, '.', last_name, '@', name, '.com')
FROM t1;
WITH t1 AS (
 SELECT LEFT(primary_poc,     STRPOS(primary_poc, ' ') -1 ) first_name,  RIGHT(primary_poc, LENGTH(primary_poc) - STRPOS(primary_poc, ' ')) last_name, name
 FROM accounts)
SELECT first_name, last_name, CONCAT(first_name, '.', last_name, '@', REPLACE(name, ' ', ''), '.com')
FROM  t1;
WITH t1 AS (
 SELECT LEFT(primary_poc,     STRPOS(primary_poc, ' ') -1 ) first_name,  RIGHT(primary_poc, LENGTH(primary_poc) - STRPOS(primary_poc, ' ')) last_name, name
 FROM accounts)
SELECT first_name, last_name, CONCAT(first_name, '.', last_name, '@', name, '.com'), LEFT(LOWER(first_name), 1) || RIGHT(LOWER(first_name), 1) || LEFT(LOWER(last_name), 1) || RIGHT(LOWER(last_name), 1) || LENGTH(first_name) || LENGTH(last_name) || REPLACE(UPPER(name), ' ', '')
FROM t1;

DATE_PART
TO_DATE
CAST

In [ ]:
CAST Solutions
SELECT *
FROM sf_crime_data
LIMIT 10;
yyyy-mm-dd

The format of the date column is mm/dd/yyyy with times that are not correct 
also at the end of the date.

SELECT date orig_date, (SUBSTR(date, 7, 4) || '-' || LEFT(date, 2) || '-' || SUBSTR(date, 4, 2)) new_date
FROM sf_crime_data;

Notice, this new date can be operated on using DATE_TRUNC and DATE_PART in the same way as earlier lessons.
SELECT date orig_date, (SUBSTR(date, 7, 4) || '-' || LEFT(date, 2) || '-' || SUBSTR(date, 4, 2))::DATE new_date
FROM sf_crime_data;

select *,
DATE_PART('month', TO_DATE(month, 'month')) as clean_month,
year || '-' || DATE_PART('month', TO_DATE(month, 'month')) || '-' || day as concatenated_date,
CAST(year || '-' || DATE_PART('month', TO_DATE(month, 'month')) || '-' || day as formatted_date,
(year || '-' || DATE_PART('month', TO_DATE(month, 'month')) || '-' || day) :: date as formatted_date_alt
from demo.ad_clicks;

In [ ]:
SELECT cast(concat(extract(year from to_date(date, 'dd/mm/yyyy')),'-', extract(month from to_date(date, 'dd/mm/yyyy')),'-', extract(day from to_date(date, 'dd/mm/yyyy'))) as date)
from sf_crime_data;

In [ ]:
## Coalesce
select 
count(primary_poc) as regular_count,
count(coalesce(primary_poc, 'no POC')) as modified_count
from accounts;

SELECT *,
coalesce(account_id, 1) account_id,
coalesce(total, 0) qty,
coalesce(total_amt_usd, 1) total_amt_usd
FROM accounts a
LEFT JOIN orders o
ON a.id = o.account_id
WHERE o.total IS NULL;

In [ ]:
COALESCE Solutions
SELECT *
FROM accounts a
LEFT JOIN orders o
ON a.id = o.account_id
WHERE o.total IS NULL; 
SELECT COALESCE(o.id, a.id) filled_id, a.name, a.website, a.lat, a.long, a.primary_poc, a.sales_rep_id, o.*
FROM accounts a
LEFT JOIN orders o
ON a.id = o.account_id
WHERE o.total IS NULL;
SELECT COALESCE(o.id, a.id) filled_id, a.name, a.website, a.lat, a.long, a.primary_poc, a.sales_rep_id, COALESCE(o.account_id, a.id) account_id, o.occurred_at, o.standard_qty, o.gloss_qty, o.poster_qty, o.total, o.standard_amt_usd, o.gloss_amt_usd, o.poster_amt_usd, o.total_amt_usd
FROM accounts a
LEFT JOIN orders o
ON a.id = o.account_id
WHERE o.total IS NULL;
SELECT COALESCE(o.id, a.id) filled_id, a.name, a.website, a.lat, a.long, a.primary_poc, a.sales_rep_id, COALESCE(o.account_id, a.id) account_id, o.occurred_at, COALESCE(o.standard_qty, 0) standard_qty, COALESCE(o.gloss_qty,0) gloss_qty, COALESCE(o.poster_qty,0) poster_qty, COALESCE(o.total,0) total, COALESCE(o.standard_amt_usd,0) standard_amt_usd, COALESCE(o.gloss_amt_usd,0) gloss_amt_usd, COALESCE(o.poster_amt_usd,0) poster_amt_usd, COALESCE(o.total_amt_usd,0) total_amt_usd
FROM accounts a
LEFT JOIN orders o
ON a.id = o.account_id
WHERE o.total IS NULL;
SELECT COUNT(*)
FROM accounts a
LEFT JOIN orders o
ON a.id = o.account_id;
SELECT COALESCE(o.id, a.id) filled_id, a.name, a.website, a.lat, a.long, a.primary_poc, a.sales_rep_id, COALESCE(o.account_id, a.id) account_id, o.occurred_at, COALESCE(o.standard_qty, 0) standard_qty, COALESCE(o.gloss_qty,0) gloss_qty, COALESCE(o.poster_qty,0) poster_qty, COALESCE(o.total,0) total, COALESCE(o.standard_amt_usd,0) standard_amt_usd, COALESCE(o.gloss_amt_usd,0) gloss_amt_usd, COALESCE(o.poster_amt_usd,0) poster_amt_usd, COALESCE(o.total_amt_usd,0) total_amt_usd
FROM accounts a
LEFT JOIN orders o
ON a.id = o.account_id;