In [ ]:
%pip install hivejdbc

# Download driver from https://repo1.maven.org/maven2/org/apache/hive/hive-jdbc/2.3.9/hive-jdbc-2.3.9-standalone.jar
# Place it in the current directory

### HiveServer2 and beeline prompt
############
# Starting HiveServer2
############
# hive.server2.enable.doAs to false on $HIVE_HOME/conf/hive-site.xml -- for anonymous access
# $HIVE_HOME/bin/hiveserver2
# $nohup $HIVE_HOME/bin/hive --service hiveserver2 & 

##########
#$ beeline -u jdbc:hive2://192.168.1.1:10000 scott tiger

In [9]:
from hivejdbc import connect

conn = connect(host='192.168.217.128', 
               database='default', 
               port=10000, 
               user='scott', 
               password='tiger',
               driver='hive-jdbc-2.3.9.jar')

In [10]:
with conn.cursor() as cursor:
    cursor.execute('select * from products.items_orc_1')
    rows = cursor.fetchall()

print(rows)

[('tv_vu', ' Vu 56 Inch', '600'), ('washingmachine_samsung', ' Samsung Swift', '400'), ('camera_canon', ' Canon 570x', '1000'), ('iphone7', ' iPhone 7', '950')]

In [5]:
cursor = conn.cursor()
cursor.execute('select * from products.items_orc_1')
for row in cursor:
    print(row[0], row[1])
cursor.close()

tv_vu  Vu 56 Inch
washingmachine_samsung  Samsung Swift
camera_canon  Canon 570x
iphone7  iPhone 7

In [8]:
cursor = conn.cursor()
cursor.execute('select * from products.items_orc_1')
cursor.fetchone() # fetch first row or None
cursor.fetchmany(5) # fetch next 5 rows
print(cursor.fetchall()) # fetch remaining rows or empty list
cursor.close()

[]

In [12]:
cursor = conn.cursor()
cursor.execute('select * from products.items_orc_1')
print(cursor.fetchone()) 
cursor.close()

('tv_vu', ' Vu 56 Inch', '600')

In [16]:
import pandas as pd
df = pd.DataFrame(rows)

In [17]:
df.shape

(4, 3)

In [18]:
print(df)

                        0               1     2
0                   tv_vu      Vu 56 Inch   600
1  washingmachine_samsung   Samsung Swift   400
2            camera_canon      Canon 570x  1000
3                 iphone7        iPhone 7   950