In [ ]:
select cc, fn, count(distinct lmgr), count(distinct smgr), count(distinct mgr), count(distinct emp)
from (
select co.company_code cc, co.founder fn, lm.lead_manager_code lmgr, sm.senior_manager_code smgr, m.manager_code mgr, e.employee_code emp
from company co
    join lead_manager lm on lm.company_code = co.company_code
    join senior_manager sm on sm.company_code = co.company_code 
    join manager m on m.company_code = co.company_code
    join employee e on e.company_code = co.company_code
) sub
group by cc, fn
order by cast(substr(cc,2) as int);

In [ ]:
select avg(salary) -
    avg(cast(replace(cast(salary as varchar(6)), '0', '') as int))
from employees;

In [ ]:
select round(avg(salary) -
    avg(replace(salary, '0', '')), 0)
from employees;

In [ ]:
select t5.max_earnings, t4.count_max_earnings
from
(select max(earnings) max_earnings 
        from 
        (select employee_id, months * salary earnings from employee)) t5,
(select count(*) count_max_earnings
    from
        (select t1.employee_id id,  t1.earnings e, t2.max_earnings me
        from
        (select employee_id, months * salary earnings from employee) t1,
        (select max(earnings) max_earnings 
            from 
            (select employee_id, months * salary earnings from employee)) t2) t3
    where t3.e = t3.me) t4;

In [ ]:
/**
Calculating Manhattan Distance between two points in latitude, longitude
**/
select round(abs(max(lat_n) - min(lat_n)) + abs(max(long_w) - min(long_w)), 4)
from station

In [ ]:
/** calculate median value **/
select round(lat_n, 4)
from 
    (select lat_n, row_number() over(order by lat_n) row_id
    from station) x
where x.row_id = (select ceiling(count(lat_n)/2)
from station);

In [ ]:
select sum(ci.population)
from city ci
    join country co on co.code = ci.countrycode
where co.continent = 'Asia';

In [ ]:
select id, name
from     
    (select su.hacker_id id, hk.name name, su.challenge_id ch_id, ch.difficulty_level, df.score max_score, su.score obtained_score
    from submissions su
        join challenges ch on ch.challenge_id = su.challenge_id
        join difficulty df on df.difficulty_level = ch.difficulty_level
        join hackers hk on hk.hacker_id = su.hacker_id
    where df.score = su.score) x
group by 1,2
having count(id) > 1
order by count(ch_id) desc, id asc;

In [ ]:
/** Ollivander's Inventory **/

select y.id, x.age, y.coins_needed, x.power
from 
    (select age, power, min(w.coins_needed) min_coins
    from wands w
        join wands_property wp on w.code = wp.code
    where is_evil = 0
    group by age, power) x
    join 
    (select id, age, coins_needed, power
    from 
        wands w
        join wands_property wp on w.code = wp.code
    where is_evil = 0
    ) y
    on x.age = y.age and x.power = x.power
where y.coins_needed = x.min_coins
order by x.power desc, x.age desc;